<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBSecurityKey" value="GGJD9IoH5V6lGijFrTAdZQ==" />
    <add key="sysdbhost" value="Q9wTwjZdEae5tlSwgo456g==" />
    <add key="sysdbport" value="6ciOj4DLHQo=" />
    <add key="sysdbname" value="cj33UvSDJiR4EyibZu8xQw==" />
    <add key="sysdbuserid" value="6uZWffmmax0=" />
    <add key="sysdbpassword" value="wsujzFQcVkV4EyibZu8xQw==" />
    
    <add key="remotedbhost" value="O2OA6DVKO7R4EyibZu8xQw==" />
    <add key="remotedbport" value="6ciOj4DLHQo=" />
    <add key="remotedbname" value="dbhGWvq8g6AlVwlQMMJMRQ==" />
    <add key="remotedbuserid" value="6uZWffmmax0=" />
    <add key="remotedbpassword" value="wsujzFQcVkV4EyibZu8xQw==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>